<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/guidelines.css">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/aos.css">

    <link rel="stylesheet" href="/static/css/ionicons.min.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="py-1 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">sabkasaathsabkavikas@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="../home">Vikas</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="../home" class="nav-link">Home</a></li>
	          <!-- {{!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
              	<a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li> --}} -->
	          <li class="nav-item"><a href="../about" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="../guidelines" class="nav-link">Farmer Guidelines</a></li>

	          <li class="nav-item"><a href="../productcategories" class="nav-link">Product Categories</a></li>
	          <li class="nav-item"><a href="../products" class="nav-link">Product</a></li>
	          <!-- {{!-- <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
             --}} -->
	          <!-- <li class="nav-item"><a href="../register" class="nav-link">Farmer's Registration</a></li> -->
	          <li class="nav-item"><a href="../addproduct" class="nav-link">Add Product</a></li>
	          <!-- <li class="nav-item"><a href="../login" class="nav-link">Login</a></li> -->
	          <!-- <li class="nav-item"><a href="contact.html" class="nav-link">Mandi Bhav</a></li> -->
	        </ul>
	      </div>
	    </div>
	  </nav>
    <marquee width="100%" direction="left" height="100px">
        For more assistance call our Kisan-Vikas Helpline 098-2235009.
        </marquee>
    <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://reemasgarden.files.wordpress.com/2018/02/soil.jpg"  alt=""/>
            </div>
            <div class="col-md-6">
                <h4>Soil Preparation</h4>
            <p class="text-muted">The first step in farming is to prepare the soil. This includes tilling, plowing, and adding any necessary fertilizers or amendments to ensure the soil is in the best condition for planting. No soil is ideal hence it necessitates the preparation of the soil before and after the cultivation. Soil fertility may be lost due to continuous farming; for the replenishment of soil contents, it is prepared prior to sowing of seeds. In agriculture, ploughing, levelling, and manuring are the three steps of soil preparation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Crop Rotation</h4>
                            
                            <p class="text-muted">Crop rotation is the practice of growing different types of crops in the same area in a specific sequence. This helps to maintain soil fertility and reduce the risk of pests and diseases. Each crop uses different types and amounts of minerals from the soil. If the same crop is planted each and every year, over time the soil is depleted of the minerals essential for plant growth and health. In reverse, a different crop will sometimes return missing minerals to the soil as the plant dies and composts or is turned into the soil.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="https://kj1bcdn.b-cdn.net/media/67938/crop.jpg?width=1200"  alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                 <img src="https://cdn-alepi.nitrocdn.com/SeqlOrWmZbpnXEFMTvZOHgizRNxBxwXO/assets/images/source/rev-e8fd39f/wp-content/uploads/2017/08/protecting_irr_blog-1024x640-1.png"  alt=""/>
            </div>
            <div class="col-md-6">
                <h4>Irrigation</h4>
    
                            <p class="text-muted"> Irrigation is the artificial application of water to the soil through various systems of tubes, pumps, and sprays. Irrigation is usually used in areas where rainfall is irregular or dry times or drought is expected. There are many types of irrigation systems, in which water is supplied to the entire field uniformly. Irrigation water can come from groundwater, through springs or wells, surface water, through rivers, lakes, or reservoirs, or even other sources, such as treated wastewater or desalinated water.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Pest Management</h4>
                            
                            <p class="text-muted">Pest control in agriculture is defined as “utilizing environmentally sensitive prevention, avoidance, monitoring, and suppression strategies, to manage weeds, insects, diseases, animals and other organisms that directly or indirectly cause damage or annoyance.” Effective pest management relies on the use of any tools or strategies to reduce the impacts of pests on crops in order to meet landowner objectives. Precision pest management solutions are relying on different tools and methods to reduce the impacts of pests on crops.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="https://miro.medium.com/max/1200/1*H5UdAZEwVvM1lnnq_g4_rg.png"  alt=""/>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jOv9JGGPhoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen border-radius="20px" ></iframe>
                <br><br>
                <p>Watch this session from our VIKAS expert to know more about how VIKAS</p>
                <p>is helping farmers to gain maximum profits.</p>
            </div>

            <div class="form">
                <div class="title">Register for Kisan Vikas Program!</div>
                <div class="subtitle">Connect with our experts and get one-on-one guidance!</div>
                <div class="input-container ic1">
                  <input id="fullname" class="input" type="text" placeholder="Full name " />
        
        
                </div>
                <div class="input-container ic2">
                  <input id="phonenumber" class="input" type="text" placeholder="Phone number" />
        
        
                </div>
                <div class="input-container ic2">
                  <input id="email" class="input" type="text-area" placeholder="Any more concerns? " />
        
        
                </div>
                <button type="text" class="submit">submit</button>
              </div>
              
            </div>
            <br><br><br><br>

            <div>
                <h1>Nearby Markets</h1>
                <h5>The markets that we work with are : </h5>
                <ul>
                    <li>Neemuch Mandi, Krishi Upaj Mandi Samiti Neemuch, Satation Road Neemuch, Madhya Pradesh</li>
                    <li>Ujjain Mandi, KRISHI UPAJ MANDI SAMITI AGAR ROAD UJJAIN, Madhya Pradesh</li>
                    <li>Indore Mandi, Krishi Upaj mandi samiti, LaxmiBai Nagar, Kila Maidan, Indore, Madhya Pradesh</li>
                    <li>Azadpur Mandi,Agricultural Produce Marketing Committee Office Complex, NFM Ph-II ,Sarai Peepal Thala,Azadpur, Delh</li>
                    <li>Balotra Mandi,
                        Secretary, APMC, Balotra, Dist, Barmer, Rajasthan</li>
                    <li>Agricultural Produce Market
                        Committee. Market Yard, Bhuj, Dist.
                        Kutch</li>
                    <li>Jaora Mandi
                        Address:New Dhan Mandi Rd, Sejawata, Madhya Pradesh</li>
                    <li>Badnawar Mandi
                        Address:Krishi Upaj Mandi Samiti, Badnawar, Dist. Dhar, Madhya Pradesh</li>
                    <li>Betul Mandi
                        Address:Krishi Upaj Mandi Betul, Madhya Pradesh</li>
                    <li>Baran Mandi
                        Address:Krishi Upaj Mandi Samiti Baran, Rajasthan</li>
                    <li>Narsinghpur Mandi
                        Address:Krishi Upaj Mandi Samiti Station Ganj Narsinghpur, Madhya Pradesh</li>
                    <li>Binaganj Mandi
                        Address:Secretary, Krishi Upaj Mandi Samiti, Binaganj, Distt. Guna, Madhya Pradesh</li>
                    <li>Shivpuri Mandi
                        Address:Krishi upaj mandi samiti shivpuri, Madhya Pradesh</li>
                    <li>Chitaurgarh Mandi
                        Address:Secretary, APMC, Chittorgarh, Distt. Chittorgarh, Rajasthan</li>
                  </ul>

            </div>
    </div>
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                          <a href="#" class="mouse-icon">
                              <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                          </a>
                      </div>
            </div>
          <div class="row mb-5">
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Vikas</h2>
                <p>Directly from farmer to consumer without any <third-party></third-party>.</p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2">Menu</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">Shop</a></li>
                  <li><a href="#" class="py-2 d-block">About</a></li>
                  <li><a href="#" class="py-2 d-block">Journal</a></li>
                  <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Help</h2>
                <div class="d-flex">
                    <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                      <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                      <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                      <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                      <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                    </ul>
                    <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">FAQs</a></li>
                      <li><a href="#" class="py-2 d-block">Contact</a></li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Have a Questions?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">101,Bhavani Nagar, SV Road, Thane (W), Mumbai, Maharahtra</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+ 1235 2355 98</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">sabkasaathsabkavikas@gmail.com</span></a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          </p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>